#new.large-6.columns
  %h2 New Shipment

  %fieldset
    = render 'form'




#index.large-6.columns
  %h2 Listing shipments

  %table
    %thead
      %tr
        %th
          Shipment
          %br
          Weight
          %br
          kg
        %th
          3 kg
          %br
          Parcels
        %th
          5 kg
          %br
          Parcels
        %th
    %tbody
      - @shipments.each do |shipment|
        %tr
          %td= shipment.kg
          %td= shipment.units3kg
          %td= shipment.units5kg
          %td= link_to '⌫', shipment, :method => :delete
