%h1 Listing shipments

%table
  %thead
    %tr
      %th Kg
      %th Units3kg
      %th Units5kg
      %th
      %th
  %tbody
    - @shipments.each do |shipment|
      %tr
        %td= shipment.kg
        %td= shipment.units3kg
        %td= shipment.units5kg
        %td= link_to 'Show', shipment
        %td= link_to 'Destroy', shipment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Shipment', new_shipment_path
