%div#notice.alert-box.success= notice

%p
  %b Kg:
  = @shipment.kg
%p
  %b Units3kg:
  = @shipment.units3kg
%p
  %b Units5kg:
  = @shipment.units5kg

= link_to 'Edit', edit_shipment_path(@shipment)
\|
= link_to 'Back', shipments_path
